<div class=" mt-5 center translucent p-4 rounded-border">
<h1 class="text-center text-warning">BURSAR</h1>
  <form action="" method="post" class=" justify-content-center">
      <div class="form-group mb-4">
          <label for="name" class="fs-4 mb-2">Student name:</label>
          <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group mb-4">
        <label for="studentclass" class="fs-4 mb-2">Student class:</label>
        <input type="number" class="form-control" id="studentclass" name="studentclass" required>
    </div>
      <div class="form-group mb-4">
        <label for="student-option" class="fs-4 mb-2">Student-option:</label>
        <select name="student-option" class="form-control" id="student-option">
          <option selected>Choose...</option>
          <option value="1">School fees </option>
          <option value="2">Pocket money </option>
        </select>
    </div>

      <div class="form-group mb-4">
        <label for="amount" class="fs-4 mb-2">Amount :</label>
        <input type="number" class="form-control" id="amount" name="amount" required>
    </div>



<!-- should register -->
<!-- should login -->
    <button class="btn  btn-warning  d-block mx-auto"><a routerLink="/appview" class="nav-link text-dark" routerLinkActive="active">Save </a></button>
  </form>

</div>




