<!-- 
  <div style="background:url('https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80');height: 300px;">
  <h1 class="text-center">ABOUT US</h1>
  </div> -->
 
  <div class="translucent text-center  gap-3 pt-3 mt-4 divh" style="font-family: 'Fredoka', sans-serif;">
    <h1 class="title text-warning">WHAT WE DO</h1>
    <p class="lead story">We provide a secure,efficient and paperless way for school accountants to keep records of the
      school's investsments and inventory.<br> and for bursars to keep track of fees balances and students pocket money.
    </p>
    <h1 class="title text-warning">OUR VISION</h1>
    <p class="lead story">To make our application accessible to all schools in Kenya.</p>
    <h1 class="title text-warning">OUR STORY</h1>
    <p class="lead story px-3 mx-3">We came up with the application due to the tension between the administration and parents in a
      majority of schools where the latter feel they pay too much for the services the students receive.<br>We also wanted
      to reduce theft in schools by having the bursar keep the students' money and hand them when needed.</p>
  </div>
