<nav class="navbar navbar-expand-lg py-2 navbar-light bg-transparent px-4">
  <a routerLink="/landingpage" class="navbar-brand">
    <h1 class="text-center text-warning"><i class="fa-solid fa-school"></i> SCHOOL FMS <i class="fa-solid fa-money-bill-transfer"></i></h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu"><span
      class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse justify-content-end align-center" id="nav-menu">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link px-3 text-warning" routerLink='/landingpage' routerLinkActive='active'><i class="bi bi-house-fill"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-warning" routerLink='/about' routerLinkActive='active' ><i class="fa-solid fa-circle-info"></i> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-warning" routerLink='/registration' routerLinkActive='active' ><i class="fa-solid fa-user-plus"></i> Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-warning" routerLink='/login' routerLinkActive='active' ><i class="fa-solid fa-right-to-bracket"></i> Login</a>
      </li>
    </ul>
  </div>
</nav>

