
  
<div class="col-md-4 mt-5 center translucent p-4 rounded-border">
  <h1 class="text-center text-warning">LOG IN</h1>
  <form action="" method="post" class=" justify-content-center">
      <div class="form-group mb-4">
          <label for="name" class="fs-4 mb-2">Name:</label>
          <input type="text" class="form-control" id="name" name="name" required>
          <label for="password" class="fs-4 mb-2">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
      </div>
<!-- should login -->
    <button class="btn  btn-warning  d-block mx-auto"><a routerLink="/bursarform" class="nav-link text-dark" routerLinkActive="active">Login </a></button>
  </form>
</div>
